.movie-tile {
  width: 100%;
  margin: 0;
  // height: 600px;
  background-color: $black_text;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  img {
    width: 100%;
  }
}
